<h1><%=title%></h1>
<form name="form" method="POST" action="/submit">
  <table>
    <tr>
      <td>User Name</td>
      <td><input type="text" name="userName" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="email" name="email" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="password" /></td>
    </tr>
    <tr>
      <td>Confirm Password</td>
      <td><input type="password" name="re-password" /></td>
    </tr>
    <tr>
      <td colspan="2"><button type="submit">Sign Up</button></td>
    </tr>
  </table>
</form>
<script src="/javascripts/validation.js"></script>
